<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-dark">
      <h3 class='text-center text-white mt-4'>Chart.js Implementation in angular</h3>
      <hr>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-1">
      <a routerLink='/line' class="btn btn-primary mt-1">Line Chart</a>
    </div>
    <div class="col-md-1">
      <a routerLink='/bar' class="btn btn-warning mt-1">Bar Chart</a>
    </div>
    <div class="col-md-1">
      <a routerLink='/bar' class="btn btn-secondary mt-1">Radar Chart</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>